body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  background-color: #ecececf8;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #333;
}

form {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  vertical-align: middle;
}

.header .link {
  border: 1px solid #333;
  padding: 10px;
  margin-left: 10px;
  background-color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  /* background-color: #fbf6d6; */
}
table td {
  width: 25%;
  height: 70px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 22px;
}

table td:nth-child(1) {
  width: 5%;
}

table td:nth-child(2) {
  width: 25%;
}

table td:nth-child(3) {
  width: 20%;
}

table td:nth-child(4) {
  width: 20%;
}

table td:nth-child(5) {
  width: 5%;
}

table td:nth-child(6) {
  width: 5%;
}

.off td {
  background: #eee;
  color: #ccc;
}

.btn_del {
  margin-left: 10px;
  color: #fff;
  background-color: firebrick;
}

button {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border: 0 none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(59, 126, 194);
}

.icon {
  cursor: pointer;
}

.tools {
  position: flex;
}

/* Nav */
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 4px 2px 12px -6px #b0b0b0;
  padding: 0px 50px;
}

.navLeftSide {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* .navTitle {
  margin: 20px;
} */

.navMenu {
  display: flex;
  margin-left: 50px;
}

.navMenu li {
  margin: 0px 15px;
}

.navLogOutBtn {
  display: flex;
  align-items: center;
}

/* Home */
.homeContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 4px 2px 12px -6px #b0b0b0;
}

.homeTitle {
  /* padding: 20px; */
  font-size: 25px;
  font-weight: bold;
  margin: 0px 12px 15px 12px;
}

.homeDayContainer {
  display: flex;
  flex-wrap: wrap;
}

.homeEachDay {
  /* flex: 20% 0 0; */
  display: flex;
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.homeEachDay a {
  /* flex: 20% 0 0; */
  display: block;
  padding: 20px 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-color: dodgerblue;
  box-shadow: 4px 8px 10px -6px #949494;
}

.homeAddDay {
  /* flex: 20% 0 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: dodgerblue;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  margin-left: 40px;
}

/* Day */
.dayContainer {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 4px 2px 12px -6px #b0b0b0;
  width: 100%;
}

.dayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dayTitle {
  font-size: 35px;
  font-weight: bold;
}

.dayMovePage {
  display: flex;
  justify-content: space-around;
  width: 70px;
}

.dayAddWord {
  box-sizing: border-box;
  display: flex;
}

.dayAskingAdd {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* .dayArrowLeft {
  margin-right: 30px;
}

.dayArrowUp {
  margin-left: 10px;
} */

/* Create Word */
.cwContainer {
  max-width: 1000px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 4px 2px 12px -6px #b0b0b0;
}

.cwform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cwTitle {
  font-size: 25px;
  margin-bottom: 20px;
}

.cwSave {
  display: block;
  text-align: center;
  margin-top: 10px;
  width: 100px;
}

.input_area {
  margin-bottom: 10px;
}

.input_area label {
  display: block;
  margin-bottom: 10px;
}

.input_area input {
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 20px;
}

.input_area select {
  width: 400px;
  height: 40px;
  font-size: 20px;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.authTitle {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.authBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 180px;
  background: black;
  cursor: pointer;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
  box-sizing: content-box;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: black;
  margin-top: 10px;
  box-sizing: content-box;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 20px 64px 16px 60px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px 18px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 8px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 15px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
